.mini-progress{height:4px;border-radius:9px;background:#eff0ec;overflow:hidden;margin-top:-2px}
.mini-progress i{display:block;height:100%;border-radius:9px;background:#96c563}
.mini-progress i.over{background:#cf7268}
